{% section 'cta-hero-image-simple', id: 'hero_our_story' %}

{% section 'video-content-hero', id: 'pwszkkimqbk' %}




{% section 'content-image-split-logos', id: 'mllyrbb5zq' %}

{% section 'content-image-split-logos', id: 'mk9ia16cx5' %}
{% section 'content-image-split-logos', id: '1gmymv9m2w7' %}




























{% section 'text-block-effects', id: 'txvj37qmnws' %}

{% schema %}
{
  "sections": {
    "hero_our_story": {
      "type": "cta-hero-image-simple",
      "settings": {
        "heading": "It Started with a Simple Question.",
        "description": "",
        "show_button": false,
        "button_text": "Discover Our Story",
        "button_style": "filled",
        "button_color": "white",
        "image_fit": "cover",
        "show_top_heading": false,
        "top_heading_selection": "1",
        "top_heading_cycle_duration": 3,
        "top_heading_1": "Top Heading 1",
        "top_heading_2": "Top Heading 2",
        "top_heading_3": "Top Heading 3",
        "top_heading_4": "Top Heading 4",
        "top_heading_5": "Top Heading 5",
        "top_heading_6": "Top Heading 6",
        "top_heading_font_family": "font-primary",
        "top_heading_font_size": "text-2xl",
        "top_heading_font_size_desktop": "lg:text-4xl",
        "top_heading_font_weight": "font-bold",
        "top_heading_color": "text-white",
        "heading_selection": "1",
        "heading_cycle_duration": 3,
        "heading_1": "<br>",
        "heading_font_family": "font-primary",
        "heading_font_size": "text-3xl",
        "heading_font_size_desktop": "lg:text-7xl",
        "heading_font_weight": "font-light",
        "heading_color": "text-white",
        "show_subheading": true,
        "subheading": "",
        "subheading_font_family": "font-body",
        "subheading_font_size": "text-xl",
        "subheading_font_size_desktop": "lg:text-2xl",
        "subheading_font_weight": "font-normal",
        "subheading_color": "text-white",
        "description_font_family": "font-body",
        "description_font_size": "text-base",
        "description_font_size_desktop": "lg:text-lg",
        "description_font_weight": "font-normal",
        "description_color": "text-white",
        "container_background_color": "",
        "container_border_radius": "rounded-none",
        "container_padding_y_mobile": "py-lg",
        "container_padding_y_desktop": "lg:py-2xl",
        "container_padding_x_mobile": "px-0",
        "container_padding_x_desktop": "lg:px-0",
        "button_size": "btn-md",
        "button_font_weight": "font-medium",
        "hero_image": "https://ik.imagekit.io/fluid/980191045/images/HFUHAE/bali_hero_image_PKxJrYdMe.jpg",
        "video_url": "https://ik.imagekit.io/fluid/980191045/videos/GCVYNF/Our_Story_banner_EEt1kLjaa",
        "padding_x_mobile": "px-0",
        "padding_top_mobile": "pt-0",
        "padding_bottom_mobile": "pb-0",
        "padding_x_desktop": "px-0",
        "padding_top_desktop": "pt-0",
        "padding_bottom_desktop": "pb-0",
        "layout_width": "full_width",
        "height_mode": "normal",
        "background_color": "bg-neutral-light",
        "section_padding_y_mobile": "py-xl",
        "section_padding_y_desktop": "lg:py-3xl",
        "section_border_radius": "rounded-none"
      }
    },
    "pwszkkimqbk": {
      "type": "video-content-hero",
      "blocks": {
        "41152ac8": {
          "id": "41152ac8",
          "type": "video",
          "name": "video",
          "settings": {
            "video_border_width": "2",
            "video_border_color": "#e5ac40",
            "video_border_radius": "rounded-lg",
            "show_play_button": true,
            "video_alt": "Video thumbnail",
            "video_url": "/{{share_guid}}/media/bali-2026-teaser"
          }
        }
      },
      "settings": {
        "container_layout_width": "container",
        "container_background_color": "",
        "container_border_radius": "rounded-none",
        "container_padding_y_mobile": "py-lg",
        "container_padding_y_desktop": "lg:py-2xl",
        "container_padding_x_mobile": "px-0",
        "container_padding_x_desktop": "lg:px-0",
        "heading": "An experience for leaders",
        "heading_font_family": "font-serif",
        "heading_font_size": "text-4xl",
        "heading_font_size_desktop": "lg:text-5xl",
        "heading_font_weight": "font-normal",
        "heading_color": "text-white",
        "content_alignment": "center",
        "text_max_width": "",
        "video_max_width": "",
        "block_spacing_mobile": "gap-xl",
        "block_spacing_desktop": "lg:gap-2xl",
        "background_color": "bg-secondary",
        "overlay_enabled": true,
        "overlay_opacity": 0.6,
        "description": "Two leading experts break down what your numbers really mean, and how improving them can transform your health.",
        "description_font_family": "font-body",
        "description_font_size": "text-base",
        "description_font_size_desktop": "lg:text-lg",
        "description_font_weight": "font-normal",
        "description_color": "text-white"
      }
    },
    "mllyrbb5zq": {
      "type": "content-image-split-logos",
      "blocks": {
        "5be24f0c": {
          "id": "5be24f0c",
          "type": "logo",
          "name": "logo",
          "settings": {
            "show_text": false,
            "title_font_size": "text-base",
            "description_font_size": "text-sm",
            "text_color": "text-neutral-dark"
          }
        }
      },
      "settings": {
        "container_layout_width": "container",
        "image": "https://ik.imagekit.io/fluid/980191045/images/3GVQHR/Bali_Picture6_E8L8xuIdB.jpg",
        "hide_main_image": false,
        "image_fit_mode": "fill",
        "image_height": 400,
        "image_background_color": "transparent",
        "heading": "<span><strong>Will You Be Recognized as a Leader of Impact</strong></span>",
        "heading_font_family": "font-serif",
        "heading_font_size": "text-4xl",
        "heading_font_size_desktop": "lg:text-5xl",
        "heading_font_weight": "font-normal",
        "heading_color": "text-neutral-dark",
        "description": "<span>The Bali 2026 is a once in a lifetime experience for the Top 20 qualifying Yoli Brand Partners. &nbsp;</span>This trip honors those who lead with consistency, duplication, enrollment, rank advancement and testing.&nbsp;",
        "description_font_family": "font-body",
        "description_font_size": "text-base",
        "description_font_size_desktop": "lg:text-lg",
        "description_font_weight": "font-normal",
        "description_color": "text-neutral-dark"
      }
    },
    "mk9ia16cx5": {
      "type": "content-image-split-logos",
      "settings": {
        "container_layout_width": "container",
        "image": "https://ik.imagekit.io/fluid/980191045/images/NZD69P/Screenshot_2026-01-06_at_8.14.01_PM_JBjIQ3oG1.png",
        "hide_main_image": false,
        "image_fit_mode": "fill",
        "image_height": 400,
        "image_background_color": "transparent",
        "heading": "<span><strong>The Experience</strong></span><span style=\"font-size: 24.000002px;\">&nbsp;</span>",
        "heading_font_family": "font-serif",
        "heading_font_size": "text-4xl",
        "heading_font_size_desktop": "lg:text-5xl",
        "heading_font_weight": "font-normal",
        "heading_color": "text-neutral-dark",
        "description": "<span>Leaders of Impact is a curated leadership experience combining world class hospitality, cultural immersion, and meaningful Yoli recognition moments that celebrate how you lead and the impact you create.&nbsp;</span><span>This is where leadership is recognized, legacies are elevated, and impact is honored on a global stage.&nbsp;</span>",
        "description_font_family": "font-body",
        "description_font_size": "text-base",
        "description_font_size_desktop": "lg:text-lg",
        "description_font_weight": "font-normal",
        "description_color": "text-neutral-dark",
        "content_alignment": "right",
        "flip_layout": false,
        "use_gradient_background": false,
        "background_color": "bg-white"
      },
      "blocks": {
        "8ede182a": {
          "id": "8ede182a",
          "type": "logo",
          "name": "logo",
          "settings": {
            "show_text": false,
            "title_font_size": "text-base",
            "description_font_size": "text-sm",
            "text_color": "text-neutral-dark"
          }
        }
      }
    },
    "1gmymv9m2w7": {
      "type": "content-image-split-logos",
      "settings": {
        "container_layout_width": "container",
        "image": "https://ik.imagekit.io/fluid/980191045/images/ZS32PZ/1300x820_Y1awT60LV.webp",
        "hide_main_image": false,
        "image_fit_mode": "fill",
        "image_height": 400,
        "image_background_color": "transparent",
        "heading": "<span><strong>EXCLUSIVE. <br>EARNED. <br>UNREPEATABLE.</strong></span>",
        "heading_font_family": "font-serif",
        "heading_font_size": "text-4xl",
        "heading_font_size_desktop": "lg:text-5xl",
        "heading_font_weight": "font-normal",
        "heading_color": "text-neutral-dark",
        "description": "<ul class=\"list-disc pl-6 my-4\" style=\"list-style-type: disc; padding-left: 1.5rem;\"><li class=\"mb-2\" style=\"display: list-item; margin-bottom: 0.5rem;\"><span><strong>Invitation-Only Experience</strong></span><br><span>Access is earned through performance, consistency, and leadership&nbsp;</span></li></ul><ul class=\"list-disc pl-6 my-4\" style=\"list-style-type: disc; padding-left: 1.5rem;\"><li class=\"mb-2\" style=\"display: list-item; margin-bottom: 0.5rem;\"><span><strong>Luxury Stays</strong></span><br><span>Enjoy world-class accommodations</span></li></ul><ul class=\"list-disc pl-6 my-4\" style=\"list-style-type: disc; padding-left: 1.5rem;\"><li class=\"mb-2\" style=\"display: list-item; margin-bottom: 0.5rem;\"><span><strong>Fireside leadership conversations</strong></span></li></ul><ul class=\"list-disc pl-6 my-4\" style=\"list-style-type: disc; padding-left: 1.5rem;\"><li class=\"mb-2\" style=\"display: list-item; margin-bottom: 0.5rem;\"><span><strong>Cultural immersion</strong> (ceremonies, temples, and local traditions)&nbsp;</span></li></ul><ul class=\"list-disc pl-6 my-4\" style=\"list-style-type: disc; padding-left: 1.5rem;\"><li class=\"mb-2\" style=\"display: list-item; margin-bottom: 0.5rem;\"><span><strong>Excursions</strong> (jungles, waterfalls, and beaches)&nbsp;</span>With Yoli's Omega Test Kit, you can quickly measure your omega-3 index and take control of your long-term health. When you reach the 8% benchmark, you'll join the Yoli 8 Percent Club — proof that you're fueling your body the right way.</li></ul>",
        "description_font_family": "font-body",
        "description_font_size": "text-base",
        "description_font_size_desktop": "lg:text-lg",
        "description_font_weight": "font-normal",
        "description_color": "text-neutral-dark",
        "content_alignment": "right",
        "flip_layout": false,
        "use_gradient_background": false,
        "background_color": "bg-white"
      },
      "blocks": {
        "04ced18e": {
          "id": "04ced18e",
          "type": "logo",
          "name": "logo",
          "settings": {
            "show_text": false,
            "title_font_size": "text-base",
            "description_font_size": "text-sm",
            "text_color": "text-neutral-dark"
          }
        }
      }
    },
    "txvj37qmnws": {
      "type": "text-block-effects",
      "settings": {
        "container_layout_width": "container",
        "alignment": "center",
        "block_gap": "var(--space-md)",
        "block_padding_y": 0,
        "fade_style": "hard",
        "background_color": "bg-black",
        "padding_top_mobile": "pt-xl",
        "padding_bottom_mobile": "pb-xs",
        "padding_x_mobile": "px-0",
        "padding_top_desktop": "lg:pt-xs",
        "padding_bottom_desktop": "lg:pb-4xl",
        "padding_x_desktop": "lg:px-0",
        "background_image": "https://ik.imagekit.io/fluid/980191045/images/9NUERH/Scrolling-text-Section_y94gJMZaT.png",
        "background_image_alt": "Background image",
        "background_fit": "cover",
        "show_overlay": false,
        "overlay_opacity": 65,
        "show_overline": true,
        "overline_text": "Our Mission",
        "overline_top_position": 45,
        "overline_font_family": "font-body",
        "overline_font_size": "text-sm",
        "overline_font_size_desktop": "lg:text-base",
        "overline_font_weight": "font-medium",
        "overline_color": "text-white",
        "overlay_color": "#000000"
      },
      "blocks": {
        "text_block_1": {
          "id": "text_block_1",
          "type": "text_block",
          "name": "Text Block",
          "settings": {
            "text": "Protect Life",
            "animation": "scroll_reveal",
            "block_height": 1400,
            "font_family": "font-serif",
            "font_size": "text-4xl",
            "font_size_desktop": "lg:text-6xl",
            "font_weight": "font-normal",
            "text_color": "text-white"
          }
        },
        "text_block_2": {
          "id": "text_block_2",
          "type": "text_block",
          "name": "text_block",
          "settings": {
            "text": "Our Mission",
            "animation": "scroll_reveal",
            "block_height": 1400,
            "font_family": "font-serif",
            "font_size": "text-4xl",
            "font_size_desktop": "lg:text-6xl",
            "font_weight": "font-normal",
            "text_color": "text-white"
          }
        },
        "text_block_3": {
          "id": "text_block_3",
          "type": "text_block",
          "name": "text_block",
          "settings": {
            "text": "Every product we create, every decision we make, and every relationship we build is guided by one simple purpose: to help people protect and enhance the lives they love.",
            "animation": "scroll_reveal",
            "block_height": 1650,
            "font_family": "font-body",
            "font_size": "text-xl",
            "font_size_desktop": "lg:text-2xl",
            "font_weight": "font-normal",
            "text_color": "text-white"
          }
        }
      }
    }
  }
}
{% endschema %}