{% section 'cta-hero-image-simple', id: 'hero_our_story' %}







{% section 'journey-hero', id: 'promise_broken' %}
{% section 'feature-cards-grid', id: 'minds_behind_mission' %}
{% section 'standards', id: '4e0a4gl6lix' %}
{% section 'Text Animated Block ', id: 'u8dp484z4r' %}





{% section 'text-block-effects', id: 'txvj37qmnws' %}








{% section 'scrolling-gallery', id: 'qwewr1wqxon' %}

{% section 'journey-hero', id: 'journey_starts' %}

{% schema %}
{
  "sections": {
    "hero_our_story": {
      "type": "cta-hero-image-simple",
      "settings": {
        "heading": "It Started with a Simple Question.",
        "description": "",
        "show_button": false,
        "button_text": "Discover Our Story",
        "button_style": "filled",
        "button_color": "white",
        "image_fit": "cover",
        "show_top_heading": false,
        "top_heading_selection": "1",
        "top_heading_cycle_duration": 3,
        "top_heading_1": "Top Heading 1",
        "top_heading_2": "Top Heading 2",
        "top_heading_3": "Top Heading 3",
        "top_heading_4": "Top Heading 4",
        "top_heading_5": "Top Heading 5",
        "top_heading_6": "Top Heading 6",
        "top_heading_font_family": "font-primary",
        "top_heading_font_size": "text-2xl",
        "top_heading_font_size_desktop": "lg:text-4xl",
        "top_heading_font_weight": "font-bold",
        "top_heading_color": "text-white",
        "heading_selection": "1",
        "heading_cycle_duration": 3,
        "heading_1": "<span>ACTIV8 Your Metabolic Switch&nbsp;</span><span style=\"font-size: 12pt; font-family: WordVisiCarriageReturn_MSFontService, Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-weight: 400; color: rgb(0, 0, 0);\"><br></span>",
        "heading_font_family": "font-primary",
        "heading_font_size": "text-3xl",
        "heading_font_size_desktop": "lg:text-7xl",
        "heading_font_weight": "font-light",
        "heading_color": "text-white",
        "show_subheading": true,
        "subheading": "<span>When the body is ready, weight loss feels easier. Energy comes pack naturally.&nbsp;</span><span style=\"font-size: 12pt; font-family: WordVisiCarriageReturn_MSFontService, Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-weight: 400; color: rgb(0, 0, 0);\"><br></span>",
        "subheading_font_family": "font-body",
        "subheading_font_size": "text-xl",
        "subheading_font_size_desktop": "lg:text-2xl",
        "subheading_font_weight": "font-normal",
        "subheading_color": "text-white",
        "description_font_family": "font-body",
        "description_font_size": "text-base",
        "description_font_size_desktop": "lg:text-lg",
        "description_font_weight": "font-normal",
        "description_color": "text-white",
        "container_background_color": "",
        "container_border_radius": "rounded-none",
        "container_padding_y_mobile": "py-lg",
        "container_padding_y_desktop": "lg:py-2xl",
        "container_padding_x_mobile": "px-0",
        "container_padding_x_desktop": "lg:px-0",
        "button_size": "btn-md",
        "button_font_weight": "font-medium",
        "hero_image": "https://ik.imagekit.io/fluid/980191045/images/DQZBSS/Our-StoryLooper-Compress-poster-00001_Qy3rRwRxVu.jpg",
        "video_url": "https://ik.imagekit.io/fluid/980191045/videos/GCVYNF/Our_Story_banner_EEt1kLjaa",
        "padding_x_mobile": "px-0",
        "padding_top_mobile": "pt-0",
        "padding_bottom_mobile": "pb-0",
        "padding_x_desktop": "px-0",
        "padding_top_desktop": "pt-0",
        "padding_bottom_desktop": "pb-0",
        "layout_width": "full_width",
        "height_mode": "normal",
        "background_color": "bg-neutral-light",
        "section_padding_y_mobile": "py-xl",
        "section_padding_y_desktop": "lg:py-3xl",
        "section_border_radius": "rounded-none"
      }
    },
    "promise_broken": {
      "type": "journey-hero",
      "settings": {
        "container_layout_width": "container",
        "enable_scroll_animation": true,
        "background_color": "bg-neutral-light",
        "section_padding_y_mobile": "py-xl",
        "section_padding_y_desktop": "lg:py-3xl",
        "section_border_radius": "rounded-none",
        "container_background_color": "",
        "container_border_radius": "rounded-custom",
        "container_padding_y_mobile": "py-md",
        "container_padding_y_desktop": "lg:py-md",
        "container_padding_x_mobile": "px-0",
        "container_padding_x_desktop": "lg:px-0"
      },
      "blocks": {
        "content_1": {
          "id": "content_1",
          "type": "content_block",
          "name": "content_block",
          "settings": {
            "heading": "<strong>A vision for something better.</strong>",
            "heading_font_family": "font-primary",
            "heading_font_size": "text-5xl",
            "heading_font_size_desktop": "lg:text-5xl",
            "heading_font_weight": "font-normal",
            "heading_color": "text-white",
            "description": "For years, our founders worked inside the wellness industry. They believed in the products. They believed in the promise. But the results weren’t consistent. People tried harder, followed plans, and still felt stuck. Energy faded. Progress stalled. Confidence dropped. The problem wasn’t effort. The problem was that no one was listening to the body.",
            "description_font_family": "font-body",
            "description_font_size": "text-base",
            "description_font_size_desktop": "lg:text-lg",
            "description_font_weight": "font-normal",
            "description_color": "text-white",
            "show_button": false,
            "button_text": "Learn More",
            "button_style": "outline",
            "button_color": "white",
            "button_size": "btn-md",
            "button_font_weight": "font-normal",
            "round_top_left_radius": "rounded-sm",
            "content_alignment": "left",
            "content_max_width": 1200,
            "block_padding_top_mobile": "pt-xs",
            "block_padding_top_desktop": "lg:pt-xs",
            "block_padding_bottom_mobile": "pb-lg",
            "block_padding_bottom_desktop": "lg:pb-sm",
            "block_padding_x_mobile": "px-lg",
            "block_padding_x_desktop": "lg:px-2xl",
            "container_background_image": "https://ik.imagekit.io/fluid/980191045/images/99KCCL/ContrastLeaf_36gbIMUjZ.png",
            "container_background_color": "",
            "background_priority": "auto",
            "show_gradient_overlay": true,
            "round_bottom_right_radius": "rounded-sm",
            "round_top_right_radius": "rounded-4xl",
            "round_bottom_left_radius": "rounded-4xl",
            "button_border": "auto",
            "show_content_image": false,
            "content_image": "",
            "content_image_position": "right",
            "content_image_fit": "cover",
            "content_max_width_tablet": 600,
            "content_max_width_desktop": 720,
            "content_image_radius_top_left": "0",
            "content_image_radius_top_right": "0",
            "content_image_radius_bottom_left": "0",
            "content_image_radius_bottom_right": "0",
            "content_image_border_radius": "0",
            "content_image_size_mobile": 100,
            "content_image_size_desktop": 50,
            "content_image_padding_edge_mobile": "pr-0",
            "content_image_padding_edge_desktop": "lg:pr-0"
          }
        }
      }
    },
    "minds_behind_mission": {
      "type": "feature-cards-grid",
      "settings": {
        "heading": "The Minds Behind the Mission",
        "description": "It takes a dedicated team to challenge an industry.<br>Meet the founders who turned a frustrating discovery into a passion for creating wellness products <br>with unwavering integrity and a commitment to helping people thrive.",
        "background_color": "bg-neutral-light",
        "container_layout_width": "container",
        "card_padding_y_mobile": "py-xl",
        "card_padding_y_desktop": "lg:py-sm",
        "card_padding_x_mobile": "px-0",
        "card_padding_x_desktop": "lg:px-0",
        "card_background_color": "",
        "card_border_radius": "rounded-md",
        "card_title_font_family": "font-body",
        "card_title_font_size": "text-lg",
        "card_title_font_size_desktop": "lg:text-xl",
        "card_title_font_weight": "font-bold",
        "card_title_color": "text-neutral-dark",
        "card_description_font_family": "font-body",
        "card_description_font_size": "text-sm",
        "card_description_font_size_desktop": "lg:text-base",
        "card_description_font_weight": "font-normal",
        "card_description_color": "text-neutral-dark",
        "columns_desktop": "4",
        "columns_tablet": "2",
        "layout_type": "columns",
        "card_layout": "top",
        "icon_text_gap_mobile": "gap-lg",
        "icon_text_gap_desktop": "lg:gap-sm",
        "cards_gap_mobile": "gap-xl",
        "cards_gap_desktop": "lg:gap-xs",
        "equal_height_cards": true,
        "icon_size_mobile": 280,
        "icon_size_desktop": 500,
        "description_font_family": "font-body",
        "description_font_size": "text-base",
        "description_font_size_desktop": "lg:text-lg",
        "description_font_weight": "font-normal",
        "description_color": "text-primary",
        "container_background_color": "",
        "container_border_radius": "rounded-none",
        "container_padding_y_mobile": "py-xs",
        "container_padding_y_desktop": "lg:py-xs",
        "container_padding_x_mobile": "px-0",
        "container_padding_x_desktop": "lg:px-0",
        "card_text_alignment": "center",
        "columns_mobile": "1",
        "card_height": "9/16",
        "card_height_custom": 450,
        "padding_x_mobile": "px-0",
        "padding_top_mobile": "pt-0",
        "padding_bottom_mobile": "pb-0",
        "padding_x_desktop": "px-0",
        "padding_top_desktop": "pt-3xl",
        "padding_bottom_desktop": "pb-3xl",
        "icon_image_fit": "fit",
        "hide_header": false,
        "header_text_alignment": "center",
        "heading_font_family": "font-primary",
        "heading_font_size": "text-4xl",
        "heading_font_size_desktop": "lg:text-5xl",
        "heading_font_weight": "font-normal",
        "heading_color": "text-primary",
        "section_padding_y_mobile": "py-xl",
        "section_padding_y_desktop": "lg:py-3xl",
        "section_border_radius": "rounded-none"
      },
      "blocks": {
        "card_1": {
          "id": "card_1",
          "type": "feature_card",
          "name": "feature_card",
          "settings": {
            "title": "Corey Citron",
            "description": "Founder<br><br>The heart of our community. Corey's focus is on creating a supportive, positive environment where people feel a true sense of belonging and are empowered to achieve their goals.",
            "icon": "https://ik.imagekit.io/fluid/980191045/images/A29P9K/CoreyCitron2_eu5VdvG8Y.png",
            "hide_icon": false,
            "icon_round_top_left_radius": "rounded-none",
            "icon_round_top_right_radius": "rounded-none",
            "icon_round_bottom_left_radius": "rounded-none",
            "icon_round_bottom_right_radius": "rounded-none",
            "hide_title": false,
            "title_font_family": "font-body",
            "title_font_size": "text-lg",
            "title_font_size_desktop": "lg:text-xl",
            "title_font_weight": "font-bold",
            "title_color": "text-primary",
            "hide_description": false,
            "description_font_family": "font-body",
            "description_font_size": "text-sm",
            "description_font_size_desktop": "lg:text-base",
            "description_font_weight": "font-normal",
            "description_color": "text-primary",
            "show_button": false,
            "button_text": "Learn More",
            "button_style": "filled",
            "button_color": "primary",
            "button_size": "btn-md",
            "button_font_weight": "font-medium",
            "use_custom_border_color": false,
            "button_border_color": "primary"
          }
        },
        "card_2": {
          "id": "card_2",
          "type": "feature_card",
          "name": "feature_card",
          "settings": {
            "title": "Robby Fender",
            "description": "Founder + CEO<br><br>The driving force behind our \"people first\" philosophy. Robby is committed to creating products that deliver real results and a business that provides a vehicle for lasting change.",
            "icon": "https://ik.imagekit.io/fluid/980191045/images/MDX5P8/RobbieFender2_IDjCZn3YE.png",
            "hide_icon": false,
            "icon_round_top_left_radius": "rounded-none",
            "icon_round_top_right_radius": "rounded-none",
            "icon_round_bottom_left_radius": "rounded-none",
            "icon_round_bottom_right_radius": "rounded-none",
            "hide_title": false,
            "title_font_family": "font-body",
            "title_font_size": "text-lg",
            "title_font_size_desktop": "lg:text-xl",
            "title_font_weight": "font-bold",
            "title_color": "text-primary",
            "hide_description": false,
            "description_font_family": "font-body",
            "description_font_size": "text-sm",
            "description_font_size_desktop": "lg:text-base",
            "description_font_weight": "font-normal",
            "description_color": "text-primary",
            "show_button": false,
            "button_text": "Learn More",
            "button_style": "filled",
            "button_color": "primary",
            "button_size": "btn-md",
            "button_font_weight": "font-medium",
            "use_custom_border_color": false,
            "button_border_color": "primary"
          }
        },
        "card_3": {
          "id": "card_3",
          "type": "feature_card",
          "name": "feature_card",
          "settings": {
            "title": "Kimi Fender",
            "description": "Founder<br><br>The inspiration for our mission. Kimi's unbridled passion is to help people unlock their full potential; fostering a culture of wellness that transforms from the inside out.",
            "icon": "https://ik.imagekit.io/fluid/980191045/images/XDKDLF/KimiFender2_CTRb06uAK.png",
            "hide_icon": false,
            "icon_round_top_left_radius": "rounded-none",
            "icon_round_top_right_radius": "rounded-none",
            "icon_round_bottom_left_radius": "rounded-none",
            "icon_round_bottom_right_radius": "rounded-none",
            "hide_title": false,
            "title_font_family": "font-body",
            "title_font_size": "text-lg",
            "title_font_size_desktop": "lg:text-xl",
            "title_font_weight": "font-bold",
            "title_color": "text-primary",
            "hide_description": false,
            "description_font_family": "font-body",
            "description_font_size": "text-sm",
            "description_font_size_desktop": "lg:text-base",
            "description_font_weight": "font-normal",
            "description_color": "text-primary",
            "show_button": false,
            "button_text": "Learn More",
            "button_style": "filled",
            "button_color": "primary",
            "button_size": "btn-md",
            "button_font_weight": "font-medium",
            "use_custom_border_color": false,
            "button_border_color": "primary"
          }
        },
        "card_4": {
          "id": "card_4",
          "type": "feature_card",
          "name": "feature_card",
          "settings": {
            "title": "Daren Falter",
            "description": "Founder<br><br>The architect of our clear path to success. Daren is dedicated to developing straightforward systems that empower people to easily share the products they love.",
            "icon": "https://ik.imagekit.io/fluid/980191045/images/93DLK4/DarenFalter2_U2b5sNvaF.png",
            "hide_icon": false,
            "icon_round_top_left_radius": "rounded-none",
            "icon_round_top_right_radius": "rounded-none",
            "icon_round_bottom_left_radius": "rounded-none",
            "icon_round_bottom_right_radius": "rounded-none",
            "hide_title": false,
            "title_font_family": "font-body",
            "title_font_size": "text-lg",
            "title_font_size_desktop": "lg:text-xl",
            "title_font_weight": "font-bold",
            "title_color": "text-primary",
            "hide_description": false,
            "description_font_family": "font-body",
            "description_font_size": "text-sm",
            "description_font_size_desktop": "lg:text-base",
            "description_font_weight": "font-normal",
            "description_color": "text-primary",
            "show_button": false,
            "button_text": "Learn More",
            "button_style": "filled",
            "button_color": "primary",
            "button_size": "btn-md",
            "button_font_weight": "font-medium",
            "use_custom_border_color": false,
            "button_border_color": "primary"
          }
        }
      }
    },
    "4e0a4gl6lix": {
      "type": "standards",
      "settings": {
        "container_layout_width": "container",
        "hide_main_image": false,
        "container_width_when_image_hidden": 800,
        "container_alignment": "center",
        "heading_body_text_alignment": "left",
        "main_image": "https://ik.imagekit.io/fluid/980191045/images/MS5NPK/Sunflower_Q3XPZo3lJ.png",
        "image_alt": "Standards section image",
        "image_fit_mode": "fit",
        "image_height": 400,
        "padding_x_mobile": "px-0",
        "section_padding_top_mobile": "pt-xl",
        "section_padding_bottom_mobile": "pb-xl",
        "padding_x_desktop": "px-0",
        "section_padding_top_desktop": "lg:pt-3xl",
        "section_padding_bottom_desktop": "lg:pb-3xl",
        "section_border_radius": "rounded-none",
        "container_background_color": "",
        "container_border_radius": "rounded-none",
        "container_padding_y_mobile": "py-xs",
        "container_padding_y_desktop": "lg:py-xs",
        "round_top_left_radius": "rounded-none",
        "round_top_right_radius": "rounded-none",
        "round_bottom_left_radius": "rounded-none",
        "round_bottom_right_radius": "rounded-none",
        "image_border_width": 0,
        "image_border_color": "#000000",
        "body_text": "We believe wellness should be measurable, intentional, and built to last. That is why our philosophy follows a clear path. Restore balance. Build with precision. Support the body in a way that creates confidence from the inside out.",
        "body_font_family": "font-body",
        "body_font_size": "text-base",
        "body_font_size_desktop": "lg:text-lg",
        "body_font_weight": "font-normal",
        "body_color": "text-primary",
        "body_margin_bottom_mobile": "mb-lg",
        "body_margin_bottom_desktop": "lg:mb-lg",
        "heading": "The Yoli Approach",
        "heading_font_family": "font-primary",
        "heading_font_size": "text-4xl",
        "heading_font_size_desktop": "lg:text-5xl",
        "heading_font_weight": "font-normal",
        "heading_color": "text-primary",
        "mobile_inline_layout": false,
        "feature_items_alignment": "left",
        "feature_items_justify": "left",
        "blocks_gap_mobile": "lg",
        "blocks_gap_desktop": "xl",
        "block_heading_margin_bottom_mobile": "mb-xs",
        "block_heading_margin_bottom_desktop": "lg:mb-xs",
        "image_text_gap_mobile": "md",
        "image_text_gap_desktop": "lg",
        "image_size_mobile": "96",
        "image_size_desktop": "96",
        "feature_description_font_family": "font-body",
        "feature_description_font_size": "text-sm",
        "feature_description_font_size_desktop": "lg:text-base",
        "feature_description_font_weight": "font-normal",
        "feature_description_color": "text-primary",
        "hide_all_blocks": false,
        "heading_body_spacing_mobile": "mb-lg",
        "heading_body_spacing_desktop": "lg:mb-lg",
        "flip_layout": false,
        "background_color": "bg-neutral-light"
      },
      "blocks": {
        "96821a8d": {
          "id": "96821a8d",
          "type": "feature_item",
          "name": "feature_item",
          "settings": {
            "show_heading": true,
            "title": "Begin with Clarity",
            "description": "Everything starts with insight. Through nutritional testing, we uncover what the body truly needs. No guessing. No assumptions. Just real data that reveals where support is required and where strength can be built.",
            "image": "https://ik.imagekit.io/fluid/980191045/images/KGYB6L/leaf_K3Q29Sj8X.png",
            "image_alt": "Feature image",
            "image_fit_mode": "cover",
            "image_border_radius": "rounded-sm",
            "image_border_width": 0,
            "image_border_color": "border-black",
            "image_border_style": "solid"
          }
        },
        "preserve_care": {
          "id": "preserve_care",
          "type": "feature_item",
          "name": "feature_item",
          "settings": {
            "show_heading": true,
            "title": "Preserve with Care",
            "description": "Many companies use high heat that destroys nutrients. We use gentle methods like freeze-drying to protect the life in the vital properties, that would otherwise be lost.",
            "image_alt": "Feature image",
            "image_fit_mode": "cover",
            "image": "https://ik.imagekit.io/fluid/980191045/images/VCCYCE/shield_A5tRhnzKg.png",
            "image_border_radius": "rounded-sm",
            "image_border_width": 0,
            "image_border_color": "border-black",
            "image_border_style": "solid"
          }
        },
        "deliver_love": {
          "id": "deliver_love",
          "type": "feature_item",
          "name": "feature_item",
          "settings": {
            "show_heading": true,
            "title": "Deliver with Love",
            "description": "From the formula to the final scoop, we handle our products with loving care to ensure the full nutritional benefits are delivered intact, right to you.",
            "image_alt": "Feature image",
            "image_fit_mode": "cover",
            "image": "https://ik.imagekit.io/fluid/980191045/images/JR9CA6/hearts_oF9SZOwVI.png",
            "image_border_radius": "rounded-sm",
            "image_border_width": 0,
            "image_border_color": "border-black",
            "image_border_style": "solid"
          }
        }
      }
    },
    "u8dp484z4r": {
      "type": "Text Animated Block "
    },
    "txvj37qmnws": {
      "type": "text-block-effects",
      "settings": {
        "container_layout_width": "container",
        "alignment": "center",
        "block_gap": "var(--space-md)",
        "block_padding_y": 0,
        "fade_style": "hard",
        "background_color": "bg-black",
        "padding_top_mobile": "pt-xl",
        "padding_bottom_mobile": "pb-xs",
        "padding_x_mobile": "px-0",
        "padding_top_desktop": "lg:pt-xs",
        "padding_bottom_desktop": "lg:pb-4xl",
        "padding_x_desktop": "lg:px-0",
        "background_image": "https://ik.imagekit.io/fluid/980191045/images/9NUERH/Scrolling-text-Section_y94gJMZaT.png",
        "background_image_alt": "Background image",
        "background_fit": "cover",
        "show_overlay": false,
        "overlay_opacity": 65,
        "show_overline": true,
        "overline_text": "Our Mission",
        "overline_top_position": 45,
        "overline_font_family": "font-body",
        "overline_font_size": "text-sm",
        "overline_font_size_desktop": "lg:text-base",
        "overline_font_weight": "font-medium",
        "overline_color": "text-white",
        "overlay_color": "#000000"
      },
      "blocks": {
        "text_block_1": {
          "id": "text_block_1",
          "type": "text_block",
          "name": "Text Block",
          "settings": {
            "text": "Protect Life",
            "animation": "scroll_reveal",
            "block_height": 1400,
            "font_family": "font-serif",
            "font_size": "text-4xl",
            "font_size_desktop": "lg:text-6xl",
            "font_weight": "font-normal",
            "text_color": "text-white"
          }
        },
        "text_block_2": {
          "id": "text_block_2",
          "type": "text_block",
          "name": "text_block",
          "settings": {
            "text": "Our Mission",
            "animation": "scroll_reveal",
            "block_height": 1400,
            "font_family": "font-serif",
            "font_size": "text-4xl",
            "font_size_desktop": "lg:text-6xl",
            "font_weight": "font-normal",
            "text_color": "text-white"
          }
        },
        "text_block_3": {
          "id": "text_block_3",
          "type": "text_block",
          "name": "text_block",
          "settings": {
            "text": "Every product we create, every decision we make, and every relationship we build is guided by one simple purpose: to help people protect and enhance the lives they love.",
            "animation": "scroll_reveal",
            "block_height": 1650,
            "font_family": "font-body",
            "font_size": "text-xl",
            "font_size_desktop": "lg:text-2xl",
            "font_weight": "font-normal",
            "text_color": "text-white"
          }
        }
      }
    },
    "qwewr1wqxon": {
      "type": "scrolling-gallery",
      "settings": {
        "container_layout_width": "container-full",
        "footer_description": "Our community is full of encouragement, celebrations, and everyday wins. Come be part of it.",
        "footer_description_font_family": "font-body",
        "footer_description_font_size": "text-base",
        "footer_description_font_size_desktop": "lg:text-lg",
        "footer_description_font_weight": "font-normal",
        "footer_description_color": "text-primary",
        "footer_heading": "Join the Conversation",
        "footer_heading_font_family": "font-primary",
        "footer_heading_font_size": "text-4xl",
        "footer_heading_font_size_desktop": "lg:text-5xl",
        "footer_heading_font_weight": "font-normal",
        "footer_heading_color": "text-primary",
        "heading": "You're in Good Company",
        "heading_font_family": "font-primary",
        "heading_font_size": "text-4xl",
        "heading_font_size_desktop": "lg:text-5xl",
        "heading_font_weight": "font-normal",
        "heading_color": "text-secondary",
        "background_color": "bg-black",
        "show_top_gradient": true,
        "top_gradient_color": "neutral-light",
        "top_gradient_height": 400,
        "show_bottom_gradient": true,
        "bottom_gradient_color": "neutral-light",
        "bottom_gradient_height": 400,
        "custom_background_color": "#e5ad44",
        "custom_background_opacity": 65,
        "description": "We believe that getting healthy is better together.<br>That's why our community is the heart of our culture, built on a simple idea we<br>call BLP: Belonging, Love, and Purpose. Here's what it looks like in real life.",
        "description_font_family": "font-body",
        "description_font_size": "text-base",
        "description_font_size_desktop": "lg:text-lg",
        "description_font_weight": "font-normal",
        "description_color": "text-neutral-dark",
        "show_button": true,
        "button_text": "Join Our Community",
        "button_url": "https://www.facebook.com/yoliglobal/mentions",
        "button_style": "filled",
        "button_color": "info",
        "button_size": "btn-md",
        "button_font_weight": "font-normal"
      },
      "blocks": {
        "c7de458d": {
          "id": "c7de458d",
          "type": "gallery_image",
          "name": "gallery_image",
          "settings": {
            "image_alt": "Gallery image 4",
            "image": "https://ik.imagekit.io/fluid/980191045/images/EU5FYL/11_eAg5IRDPf.png",
            "image_width": 480,
            "image_height": 460,
            "image_fit": "contain"
          }
        },
        "43ab4828": {
          "id": "43ab4828",
          "type": "gallery_image",
          "name": "gallery_image",
          "settings": {
            "image_alt": "Gallery image 5",
            "image": "https://ik.imagekit.io/fluid/980191045/images/7DAHNU/22_vcsPVsNsS.png",
            "image_width": 480,
            "image_fit": "cover"
          }
        },
        "9156004e": {
          "id": "9156004e",
          "type": "gallery_image",
          "name": "gallery_image",
          "settings": {
            "image_alt": "Gallery image 6",
            "image": "https://ik.imagekit.io/fluid/980191045/images/4JMZZL/33_kqPmGPVUj.png",
            "image_width": 480,
            "image_height": 312,
            "image_fit": "cover"
          }
        },
        "d58ea6b7": {
          "id": "d58ea6b7",
          "type": "gallery_image",
          "name": "gallery_image",
          "settings": {
            "image_alt": "Gallery image 7",
            "image": "https://ik.imagekit.io/fluid/980191045/images/JFKT2L/44_buIZITKeC.png",
            "image_width": 480,
            "image_fit": "cover"
          }
        },
        "cc38266c": {
          "id": "cc38266c",
          "type": "gallery_image",
          "name": "gallery_image",
          "settings": {
            "image_alt": "Gallery image 8",
            "image": "https://ik.imagekit.io/fluid/980191045/images/3G8MNU/55_SSVxyA-RX.png",
            "image_width": 480,
            "image_fit": "cover"
          }
        },
        "d51f53a7": {
          "id": "d51f53a7",
          "type": "gallery_image",
          "name": "gallery_image",
          "settings": {
            "image_alt": "Gallery image 9",
            "image": "https://ik.imagekit.io/fluid/980191045/images/ZCXKYB/66_EnzVOe3BE.png",
            "image_width": 480,
            "image_fit": "cover"
          }
        },
        "00dc3af3": {
          "id": "00dc3af3",
          "type": "gallery_image",
          "name": "gallery_image",
          "settings": {
            "image_alt": "Gallery image 10",
            "image": "https://ik.imagekit.io/fluid/980191045/images/ZL5K4Y/77_icNNc_vV6.png",
            "image_width": 480,
            "image_fit": "cover"
          }
        },
        "66af2292": {
          "id": "66af2292",
          "type": "gallery_image",
          "name": "gallery_image",
          "settings": {
            "image_alt": "Gallery image 11",
            "image": "https://ik.imagekit.io/fluid/980191045/images/9ZLUU2/88_TLFmWSquH.png",
            "image_width": 480,
            "image_fit": "cover"
          }
        }
      }
    },
    "journey_starts": {
      "type": "journey-hero",
      "settings": {
        "container_layout_width": "container",
        "enable_scroll_animation": true,
        "background_color": "bg-neutral-light",
        "section_padding_y_mobile": "py-xl",
        "section_padding_y_desktop": "lg:py-3xl",
        "section_border_radius": "rounded-none",
        "container_background_color": "",
        "container_border_radius": "rounded-custom",
        "container_padding_y_mobile": "py-lg",
        "container_padding_y_desktop": "lg:py-xl"
      },
      "blocks": {
        "content_1": {
          "id": "content_1",
          "type": "content_block",
          "name": "content_block",
          "settings": {
            "heading": "Your Journey\nStarts Here",
            "heading_font_family": "font-primary",
            "heading_font_size": "text-5xl",
            "heading_font_size_desktop": "lg:text-6xl",
            "heading_font_weight": "font-normal",
            "heading_color": "text-white",
            "description": "Our story started because we knew there was a better way. Now, it's your turn. We invite you to experience the difference that integrity makes and discover what it feels like to truly come to life.",
            "description_font_family": "font-body",
            "description_font_size": "text-base",
            "description_font_size_desktop": "lg:text-lg",
            "description_font_weight": "font-normal",
            "description_color": "text-white",
            "show_button": true,
            "button_text": "Find your Transformation Kit",
            "button_style": "filled",
            "button_color": "white",
            "button_size": "btn-md",
            "button_font_weight": "font-normal",
            "round_top_left_radius": "rounded-sm",
            "round_top_right_radius": "rounded-sm",
            "round_bottom_left_radius": "rounded-sm",
            "round_bottom_right_radius": "rounded-4xl",
            "content_alignment": "left",
            "content_max_width": 1200,
            "block_padding_top_mobile": "pt-xs",
            "block_padding_top_desktop": "lg:pt-xs",
            "block_padding_bottom_mobile": "pb-lg",
            "block_padding_bottom_desktop": "lg:pb-sm",
            "block_padding_x_mobile": "px-lg",
            "block_padding_x_desktop": "lg:px-2xl",
            "container_background_image": "https://ik.imagekit.io/fluid/980191045/images/M8WBTA/67c0b378d3a987d7fc10d760_yoliunboxing-01_2ex3Xagp3.jpeg",
            "show_content_image": false,
            "content_image": "",
            "content_image_position": "right",
            "content_image_fit": "cover",
            "container_background_color": "",
            "background_priority": "auto",
            "show_gradient_overlay": true,
            "content_max_width_tablet": 600,
            "content_max_width_desktop": 720,
            "button_url": "/7085aa/join",
            "button_border": "auto",
            "content_image_border_radius": "0",
            "content_image_size_mobile": 100,
            "content_image_size_desktop": 50,
            "content_image_padding_edge_mobile": "pr-0",
            "content_image_padding_edge_desktop": "lg:pr-0"
          }
        }
      }
    }
  }
}
{% endschema %}